/**/
@iWrapWidth:960px;
.iWrap{
  width: @iWrapWidth;
  margin: 0 auto;
  margin-bottom: 30px;
}
.borderR(@radius:6px){ border-radius:@radius; border:1px solid #dbdbdb; }
.marginB(@marginB:10px){margin-bottom: @marginB;}
#iHeader{
  height: 30px;
  line-height: 30px;
  .borderR();
  .city{
    padding-left: 20px;
    a{
      display:inline-block;
      padding:0 7px;
      height:18px;
      line-height:18px;
      color:#999;
      background:#fff;
      border:1px solid #e5e5e5;
      border-radius:4px;
      box-shadow:1px 1px 0 #ededed;
      &:hover{
        background:#f1f1f1;
      }
    }
    .active,.active:hover{
      color:#d60d03;
      background:#fff;
    }
  }
  .link{
    padding-right: 20px;
    color:#d5d5d5;
    word-spacing:4px;
    a{
      color:#666;
      background:url(../../img/header_link_bg.gif) no-repeat 0 3px;
      padding-left:20px;
      &:hover{
        text-decoration:underline;
      }
    }
    .icon1{
      background-position:0 3px;
    }
    .icon2{
      background-position:0 -27px;
    }
  }
}
.iNav{
  position: relative;
  height:100px;
  ul{
    position: absolute;
    top:10px;
    li {
      display: inline-block;
      a{
        display:block;
        width:66px;
        padding-top:50px;
        text-align:center;
        background:url(../../img/nav_bg.png) no-repeat;
        color:#333;
        &:hover{
          color:#a70c01;
          font-weight:bold;
        }
      }
      .bg1 {
        background-position:0 0;
        &:hover{background-position:0 -70px;}
      }
      .bg2 {
        background-position: -66px 0;
        &:hover { background-position: -66px -70px;}
      }
      .bg3 {
        background-position:-132px 0;
        &:hover{background-position:-132px -70px;}
      }
      .bg4 {
        background-position:-198px 0;
        &:hover{background-position:-198px -70px;}
      }
      .bg5 {
        background-position:-264px 0;
        &:hover{background-position:-264px -70px;}
      }
      .bg6 {
        background-position:-330px 0;
        &:hover{background-position:-330px -70px;}
      }
      .bg7 {
        background-position:-396px 0;
        &:hover{background-position:-396px -70px;}
      }
      .bg8 {
        background-position:-462px 0;
        &:hover{background-position:-462px -70px;}
      }
      .bg9 {
        background-position:-528px 0;
        &:hover{background-position:-528px -70px;}
      }
      .bg10 {
        background-position:-594px 0;
        &:hover{background-position:-594px -70px;}
      }
    }
  }
  .iNavLeft{
    left:11px;
  }
  h1{
    width:223px;
    height:62px;
    margin:0 auto;
    position:relative;
    top:10px;
  }
  .iNavRight{
    right:11px;
  }
}
.iSearch{
  position: relative;
  width:958px;
  height:114px;
  .borderR();
  .marginB();
  .iSearchBar{
    width:958px;
    height:64px;
    border:1px solid #c40d0e;
    position:absolute;
    top:16px;
    left:-1px;
    background:#e21c01;
    border-radius:5px;
    box-shadow:1px 2px 2px rgba(0,0,0,0.15);
    .iSearchOption{
      position: absolute;
      left:226px;
      top:-27px;
      li{
        display: inline-block;
        width:78px;
        height:25px;
        margin-right:1px;
        border:1px solid #f8d0bf;
        border-radius:5px 5px 0 0;
        border-bottom:none;
        text-align:center;
        line-height:25px;
        font-size:14px;
        cursor:pointer;
        box-shadow:1px 0px 2px rgba(176,176,176,0.3);
      }
      .active{
        position:relative;
        top:-2px;
        height:27px;
        background:#e21c01;
        color:#fff;
        font-weight:bold;
        border:1px solid #e21c01;
        text-shadow:2px 2px 3px rgba(0,0,0,0.25);
      }
    }
  }
  .iSearchLogo{
    width:163px;
    height:122px;
    position:absolute;
    left:32px;
    top:-3px;
    background:url(../../img/search_img.png) no-repeat;
    z-index:2;
  }
  form{
    position:absolute;
    left:226px;
    top:36px;
    z-index:3;
    .iSearchText{
      width:380px;
      height:22px;
      line-height:22px;
      margin-right:10px;
      padding:0 12px;
      background:#fff1ef;
      border:none;
      border-radius:3px;
      font-size:12px;
      color:#ea7a7a;
      box-shadow:inset 2px 2px 3px rgba(0,0,0,0.25);
    }
    .iSearchBtn{
      display: inline-block;
      width:63px;
      height:26px;
      border:none;
      background:url(../../img/search_img.png) no-repeat -163px 0;
    }
  }
  .iSearchKeyword{
    width:206px;
    height: 34px;
    position:absolute;
    top:30px;
    right:36px;
    color:#fff;
    line-height:18px;
    overflow: hidden;
    a{
      color:#fff;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .latestNews{
    width:405px;
    height:30px;
    position:absolute;
    left:226px;
    bottom:0;
    background:url(../../img/search_img.png) no-repeat -226px 8px;
    .newsWrap{
      height:30px;
      position:relative;
      left:60px;
      overflow:hidden;
    }
    ul{
      width:336px;
      position:absolute;
      top:0px;
      left:0;
      li{
        height:30px;
        line-height:30px;
      }
      a{
        color:#000;
        &:hover{
          text-decoration: underline;
        }
        strong{
          color:#d30703;
          font-weight:normal;
        }
        span{
          color: #999;
        }
      }
    }
  }
  .triangle_up{
    top:8px; right:0;
  }
  .triangle_down_red{
    top:17px; right:0;
  }
}
.iContent{

  .iMain{
    width:710px;
    .iMainAd{
      border-radius:6px;
      overflow:hidden;
      .marginB();
    }
    .iMainOptions{
      width:350px;
      height: 200px;
      position: relative;
      .marginB();
      .optionTab{
        height:34px;
        position: relative;
        z-index:2;
        li{
          width:172px;
          height:33px;
          line-height:33px;
          text-align:center;
          border:1px solid #dbdbdb;
          border-bottom:none;
          cursor:pointer;
          border-radius:6px 6px 0 0;
        }
        .active{
          height:34px;
          line-height:34px;
          background:#fff;
        }
      }
      .optionTabContent{
        width:348px;
        height: 50px;
        position:absolute;
        top:34px;
        left:0;
        border:1px solid #dbdbdb;
        border-radius:0 0 6px 6px;
        z-index:1;
      }
    }
    .iMainSection{
      width:318px;
      height: 200px;
      padding:0 15px;
      .borderR();
      .marginB();
    }
  }
  .iAside{
    width:240px;
    .iAsideAd{
      border-radius:6px;
      overflow:hidden;
      .marginB();
    }
    .iAsideSection{
      height: 50px;
      padding:0 12px;
      .borderR();
      .marginB();
    }
  }
}
#iFooter{
  width:958px;
  height:64px;
  padding-top:14px;
  line-height:25px;
  background:#f9f9f9;
  color:#767676;
  text-align:center;
  .borderR();
}