/**/
@iWrapWidth:960px;
.iWrap{
  width: @iWrapWidth;
  margin: 0 auto;
  margin-bottom: 30px;
}
.borderR(@radius:6px){ border-radius:@radius; border:1px solid #dbdbdb; }
.marginB(@marginB:10px){margin-bottom: @marginB;}
#iHeader{
  height: 30px;
  line-height: 30px;
  .borderR();
  .city{
    padding-left: 20px;
    a{
      display:inline-block;
      padding:0 7px;
      height:18px;
      line-height:18px;
      color:#999;
      background:#fff;
      border:1px solid #e5e5e5;
      border-radius:4px;
      box-shadow:1px 1px 0 #ededed;
      &:hover{
        background:#f1f1f1;
      }
    }
    .active,.active:hover{
      color:#d60d03;
      background:#fff;
    }
  }
  .link{
    padding-right: 20px;
    color:#d5d5d5;
    word-spacing:4px;
    a{
      color:#666;
      background:url(../../img/header_link_bg.gif) no-repeat 0 3px;
      padding-left:20px;
      &:hover{
        text-decoration:underline;
      }
    }
    .icon1{
      background-position:0 3px;
    }
    .icon2{
      background-position:0 -27px;
    }
  }
}
.iNav{
  height:100px;
  background: wheat;
}
.iSearch{
  width:958px;
  height:114px;
  .borderR();
  .marginB();
}
.iContent{

  .iMain{
    width:710px;
    .iMainAd{
      border-radius:6px;
      overflow:hidden;
      .marginB();
    }
    .iMainOptions{
      width:350px;
      height: 200px;
      position: relative;
      .marginB();
      .optionTab{
        height:34px;
        position: relative;
        z-index:2;
        li{
          width:172px;
          height:33px;
          line-height:33px;
          text-align:center;
          border:1px solid #dbdbdb;
          border-bottom:none;
          cursor:pointer;
          border-radius:6px 6px 0 0;
        }
        .active{
          height:34px;
          line-height:34px;
          background:#fff;
        }
      }
      .optionTabContent{
        width:348px;
        height: 50px;
        position:absolute;
        top:34px;
        left:0;
        border:1px solid #dbdbdb;
        border-radius:0 0 6px 6px;
        z-index:1;
      }
    }
    .iMainSection{
      width:318px;
      height: 200px;
      padding:0 15px;
      .borderR();
      .marginB();
    }
  }
  .iAside{
    width:240px;
    .iAsideAd{
      border-radius:6px;
      overflow:hidden;
      .marginB();
    }
    .iAsideSection{
      height: 50px;
      padding:0 12px;
      .borderR();
      .marginB();
    }
  }
}
#iFooter{
  width:958px;
  height:64px;
  padding-top:14px;
  line-height:25px;
  background:#f9f9f9;
  color:#767676;
  text-align:center;
  .borderR();
}