/**/
.iWrap {
  width: 960px;
  margin: 0 auto;
  margin-bottom: 30px;
}
#iHeader {
  height: 30px;
  line-height: 30px;
  border-radius: 6px;
  border: 1px solid #dbdbdb;
}
#iHeader .city {
  padding-left: 20px;
}
#iHeader .city a {
  display: inline-block;
  padding: 0 7px;
  height: 18px;
  line-height: 18px;
  color: #999;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  box-shadow: 1px 1px 0 #ededed;
}
#iHeader .city a:hover {
  background: #f1f1f1;
}
#iHeader .city .active,
#iHeader .city .active:hover {
  color: #d60d03;
  background: #fff;
}
#iHeader .link {
  padding-right: 20px;
  color: #d5d5d5;
  word-spacing: 4px;
}
#iHeader .link a {
  color: #666;
  background: url(../../img/header_link_bg.gif) no-repeat 0 3px;
  padding-left: 20px;
}
#iHeader .link a:hover {
  text-decoration: underline;
}
#iHeader .link .icon1 {
  background-position: 0 3px;
}
#iHeader .link .icon2 {
  background-position: 0 -27px;
}
.iNav {
  height: 100px;
  background: wheat;
}
.iSearch {
  width: 958px;
  height: 114px;
  border-radius: 6px;
  border: 1px solid #dbdbdb;
  margin-bottom: 10px;
}
.iContent .iMain {
  width: 710px;
}
.iContent .iMain .iMainAd {
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
}
.iContent .iMain .iMainOptions {
  width: 350px;
  height: 200px;
  position: relative;
  margin-bottom: 10px;
}
.iContent .iMain .iMainOptions .optionTab {
  height: 34px;
  position: relative;
  z-index: 2;
}
.iContent .iMain .iMainOptions .optionTab li {
  width: 172px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  border: 1px solid #dbdbdb;
  border-bottom: none;
  cursor: pointer;
  border-radius: 6px 6px 0 0;
}
.iContent .iMain .iMainOptions .optionTab .active {
  height: 34px;
  line-height: 34px;
  background: #fff;
}
.iContent .iMain .iMainOptions .optionTabContent {
  width: 348px;
  height: 50px;
  position: absolute;
  top: 34px;
  left: 0;
  border: 1px solid #dbdbdb;
  border-radius: 0 0 6px 6px;
  z-index: 1;
}
.iContent .iMain .iMainSection {
  width: 318px;
  height: 200px;
  padding: 0 15px;
  border-radius: 6px;
  border: 1px solid #dbdbdb;
  margin-bottom: 10px;
}
.iContent .iAside {
  width: 240px;
}
.iContent .iAside .iAsideAd {
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
}
.iContent .iAside .iAsideSection {
  height: 50px;
  padding: 0 12px;
  border-radius: 6px;
  border: 1px solid #dbdbdb;
  margin-bottom: 10px;
}
#iFooter {
  width: 958px;
  height: 64px;
  padding-top: 14px;
  line-height: 25px;
  background: #f9f9f9;
  color: #767676;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #dbdbdb;
}
